.react-flow__renderer {
    width: 100%;
    height: 100%;
}

.react-flow__node {
    cursor: pointer;

}

.react-flow__pane {
    cursor: default;
}

.react-flow__handle {
    background: transparent;
    border: none;
}