---
import Container from "../components/Container.astro";
import Layout from "../layouts/MainLayout.astro";
---

<Layout>
  <Container>
    <main>
      <h1>Welcome to <span class="text-gradient">Web3Roadmap</span></h1>
    </main>
  </Container>
</Layout>
