---
import Container from "../components/Container.astro";
import Layout from "../layouts/MainLayout.astro";
---

<Layout>
  <Container>
    <main>
      <div class="flex justify-start items-center">
        <h1 class="text-4xl font-bold text-center py-14">
          Opensource Roadmap For Next-Gen Developers
        </h1>
      </div>
    </main>
  </Container>
</Layout>
