---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Web3 Roadmap | Opensource Roadmap For Next-Gen Developer">
  <main>
    <h1>Welcome to <span class="text-gradient">Web3Roadmap</span></h1>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
