.markdown-content {
    color: #ffffff;
    line-height: 1.6;
    font-size: 14px;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 600;
    line-height: 1.25;
}

.markdown-content h1 {
    font-size: 24px;
}

.markdown-content h2 {
    font-size: 1.5em;
}

.markdown-content h3 {
    font-size: 1.25em;
}

.markdown-content h4 {
    font-size: 1em;
}

.markdown-content h5 {
    font-size: 0.875em;
}

.markdown-content h6 {
    font-size: 0.85em;
}

.markdown-content p {
    margin-top: 0;
    margin-bottom: 14px;
}

.markdown-content a {
    font-size: 90%;
    color: #58a6ff;
    text-decoration: none;
}

.markdown-content a.github-link {
    color: black;
    text-decoration: none;
}

.markdown-content a:hover {
    text-decoration: underline;
}

.markdown-content strong {
    font-weight: 600;
}

.markdown-content ul,
.markdown-content ol {
    padding-left: 2em;
    margin-top: 14px;
    margin-bottom: 14px;
}

.markdown-content ol {
    list-style-type: decimal;
}

.markdown-content ul {
    list-style-type: disc;
}

.markdown-content ol ol,
.markdown-content ul ol {
    list-style-type: lower-roman;
}

.markdown-content ul ul,
.markdown-content ol ul {
    list-style-type: circle;
}

.markdown-content li {
    margin: 6px 0px;
    display: list-item;
}

.markdown-content ol>li {
    padding-left: 0.5em;
}

.markdown-content blockquote {
    padding: 0 1em;
    color: #8b949e;
    border-left: 0.25em solid #30363d;
    margin: 0 0 16px 0;
}

.markdown-content pre {
    padding: 16px;
    margin: 18px 0;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #161b22;
    border-radius: 6px;
}

.markdown-content code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(110, 118, 129, 0.4);
    border-radius: 3px;
}

.markdown-content pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.markdown-content img {
    max-width: 100%;
    box-sizing: content-box;
}

.markdown-content table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 16px;
    width: 100%;
}

.markdown-content table th,
.markdown-content table td {
    padding: 6px 13px;
    border: 1px solid #30363d;
}

.markdown-content table tr {
    background-color: #0d1117;
    border-top: 1px solid #21262d;
}

.markdown-content table tr:nth-child(2n) {
    background-color: #161b22;

}

.markdown-content hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #30363d;
    border: 0;
}

.markdown-content img {
    border-radius: 8px;
    margin: 12px 0 12px 0;
}


/* ======== */

.custom-tag {
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 600;
    margin: 5px;
    font-size: 0.8em;
    text-transform: uppercase;
    background-color: black;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.tag-video {
    background-color: #b21e35;
    color: white;
}

.tag-article {
    background-color: #6f42c1;
    color: white;
}

.tag-official {
    background-color: #0056b3;
    color: white;
}