---
import ContentWrapper from "./ContentWrapper.astro";
const { step } = Astro.props;
---

<header class="relative mb-10 xl:mb-0 text-white">
  <!-- <div
    class="pointer-events-none absolute left-[max(-0.5rem,calc(50%-18.625rem))] top-0 z-50 flex h-4 items-center justify-end gap-x-2 lg:left-0 lg:right-[calc(max(2rem,50%-38rem)+40rem)] lg:min-w-[32rem] xl:h-8"
  >
    <a class="inline-flex">
      <p
        class="hidden xl:pointer-events-auto xl:block xl:text-xs/4 xl:font-medium xl:text-white/50"
      >
        {step}
      </p>
    </a>
    <div class="h-[0.0625rem] w-3.5 bg-gray-400 lg:-mr-3.5 xl:mr-0 xl:bg-white">
    </div>
  </div> -->
  <ContentWrapper>
    <div class="w-full">
      <p class="border-b-[0.5px] border-gray-700">
        <a class="text-xl/4 font-medium text-gray-500 dark:text-white/50">
          {step}
        </a>
      </p>
    </div>
  </ContentWrapper>
</header>
