---
interface Props {
  class?: string;
  [key: string]: any;
}

const { class: className, ...props } = Astro.props;
---

<div class="relative mx-auto max-w-7xl px-6 lg:flex lg:px-8">
  <div class="lg:ml-96 lg:flex lg:w-full lg:justify-end lg:pl-32">
    <div
      class:list={[
        "mx-auto max-w-lg lg:mx-0 lg:w-0 lg:max-w-xl lg:flex-auto",
        className,
      ]}
      {...props}
    >
      <slot />
    </div>
  </div>
</div>
