---
import Icon from "./Icon.astro";
import openeduIcon from "@assets/icons/openedu-icon.svg?raw";
---

<p class="flex items-center gap-x-2 text-[0.8125rem]/6 text-gray-500">
  Brought to you by{" "}
  <a href="https://openedu101.com" target="_blank">
    <Icon icon={openeduIcon} class="w-28 flex item" />
  </a>
</p>
