---
import rocketFlying from "@assets/gif/rocket-flying.gif";
---

<a href="/" class="text-white text-2xl font-medium flex gap-2 items-center">
  <img src={rocketFlying.src} class="w-7 h-7" />
  <p>
    <span class="text-sky-300">web3</span><span>roadmap</span>
  </p>
</a>
