---
import { getRoadmapsByTag } from "../lib/roadmap";

interface Props {
  roadmapTag: string;
}

const { roadmapTag } = Astro.props;
const roadmapsBySkill = await getRoadmapsByTag(roadmapTag);
---

<div class="grid grid-cols-2 md:grid-cols-3 gap-2">
  {
    roadmapsBySkill
      .filter((roadmapItem) => !roadmapItem.frontmatter.isHidden)
      .map((roadmapItem) => (
        <a
          href={roadmapItem.id}
          class="group relative isolate flex-none rounded-md py-1.5 text-base font-normal px-5 border border-gray-800"
        >
          <span class="absolute inset-0 rounded-md bg-gradient-to-b from-white/80 to-white opacity-10 transition-opacity group-hover:opacity-15" />
          {roadmapItem.frontmatter.briefTitle}
        </a>
      ))
  }
</div>
