---
import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title?: string;
}

const { title = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="generator" content={SITE_DESCRIPTION} />
    <title>{SITE_TITLE} - {title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page Speed */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
